/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #00e676;
  color: black;
}

@layer base {
  body {
    @apply bg-[#050505] text-gray-200;
  }
}
